<!doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
    <div>
    <h1>!!List of authors with their posts!!</h1>
       <ul>
           <% for(var i=0; i < data.length; i++) { %> 
    <pre>
      <li type="1"><%= data[i].username %> has <%= posts[i] %> posts!!!
      </li>
    </pre>
           <% }; %>

       </ul>
    </div>
     </body>
</html>